<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <header>
    <div class="container">
      <h1 class="home-heading">TechTales: Code, Data, Innovation</h1>
      <nav>
        <ul>
	  <li><a href="{{ site.baseurl }}/">Home</a></li>
	  <li><a href="{{ site.baseurl }}/about">About</a></li>
	  <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  {{ content }}

  <footer>
    <p>&copy; 2024 Teresia Nduati. All rights reserved.</p>
    <p>Contact me:</p>
    <a href="https://x.com/nimmotess?t=_5vxKTYCBVnQTRmvlNVJEw&s=09">Twitter</a>
    <a href="https://www.linkedin.com/in/teresia-nduati-642ba2128/">LinkedIn</a>
  </footer>
</body>
</html>
